* {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 10px;
}

#root img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

#root img.loaded {
  opacity: 1;
  transform: translateY(0);
}
